<div class="main-container">
  <form class="form-container">
    <h3>Add a link</h3>
    <div class="field">
      <label for="title" class="title">Title</label>
      <input type="text" name="title" class="input-text" #newTitle />
    </div>
    <div class="field">
      <label for="link" class="title">Link</label>
      <input type="text" name="link" class="input-text" #newLink />
    </div>
    <button class="submit-btn" (click)="addArticle(newTitle, newLink)">
      Submit Link
    </button>
  </form>

  <div class="articles">
    @for (article of sortedArticles(); track $index) {
    <app-article [article]="article"></app-article>
    }
  </div>
</div>
